@import "tailwindcss";

@theme {
  --color-primaryColor: #E89347;
  --color-tertiaryColor: #fafaf9;
  --color-katulo:#835d32;
  --color-secondary:#835d32;
  --color-mainBackgroundColor:#131D29;
  --color-greyColor: oklch(37.3% 0.034 259.733);
}

@layer components{
  .nav-link {
    @apply rounded-t-md px-3 py-2 hover:text-tertiaryColor hover:bg-primaryColor cursor-pointer;
  }

  .nav-drop {
    @apply absolute left-1/2 -translate-x-1/2 mt-2 min-w-full w-max bg-secondary text-white rounded-b-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition;
  }

  .button-view {
    @apply rounded-md px-3 py-2 hover:px-4 hover:py-3 text-tertiaryColor bg-primaryColor cursor-pointer;
  }

  .collection-card{
    @apply h-fit basis-1/4 border-2 px-4 py-2 flex flex-col gap-y-2 items-center border-greyColor transition-all rounded-xl hover:border-primaryColor;
  }
}

body {
  background-color: #131D29;
}

.brandsBackGround {
  background:  linear-gradient(0deg,rgba(232, 147, 71, 1) 2%, rgba(19, 29, 41, 1) 90%);
}
